<!-- Macros to use in templates as functions -->

{% macro title(link, title) -%}
<a href="{{ link }}">{{ title }}</a>
{%- endmacro %}

<!-- Meal Presentation as a Boostrap Card -->
{% macro card(thumbnail, title, instructions, area, category) -%}
<div class="card">
    <img src="{{ thumbnail }}" class="figure-img img-fluid" alt="A image of a {% raw %}{{ title }}{% endraw %} recipe."></img>
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{ instructions }}...</p>
        <p class="card-text">
          <small class="badge bg-success">{{ area }}</small>
          <small class="badge bg-warning">{{ category }}</small>
        </p>
    </div>
</div>
{%- endmacro %}
